# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono Auto Generated)
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

# Uncomment if you have tasks that create the project's static files in wwwroot
#wwwroot/

# Visual Studio
.vscode/
.vscode/*
.vs/
.vs/*

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# VS Code directories
.vscode/
.vscode/*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# NPM package
node_modules/

# TypeScript v1 declaration files
typings/

# JetBrains Rider
.idea/
.idea/*
*.sln.iml

# macOS
*.DS_Store
